# ---------
# Project environment variables
# ---------

# Project Settings
PROJECT_NAME=template-ml

# Azure
AZURE_SUBSCRIPTION_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
AZURE_RESOURCE_GROUP=my-resource-group
AZURE_WORKSPACE_NAME=my-aml-workspace
